.theme-black {
    background-color: #282d2f;
}
a {
    color: #0e90d2;
}
.am-g {
    margin: 0 auto;
    width: 100%;
    .tpl-login {
        width: 100%;
        .tpl-login-content {
            width: 300px;
            margin: 12% auto 0;
            .tpl-login-title {
                color: #fff;
                width: 100%;
                font-size: 24px;
            }
            .tpl-login-content-info {
                color: #B3B3B3;
                font-size: 14px;
            }
            .tpl-form-border-form {
                padding-top: 20px;
                .am-form-group {
                    margin-bottom: 1.5rem;
                    input[type=text]{
                        display: block;
                        width: 100%;
                        padding: 6px 12px;
                        line-height: 1.42857;
                        background-color:       #fff;
                        background-image: none;  
                        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                        background: 0 0;
                        border: 0;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                        border-radius: 0;
                        color: #fff;
                        box-shadow: none;
                        padding-left: 0;
                        padding-right: 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}.am-g {
    margin: 0 auto;
    width: 100%;
    .tpl-login {
        width: 100%;
        .tpl-login-content {
            width: 300px;
            margin: 12% auto 0;
            .tpl-login-logo {
                background: url(../../img/logob.png) center no-repeat;
                max-width: 159px;
                height: 205px;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            .tpl-form-line-form{
                padding-top: 20px;
                .am-form-group {
                    margin-bottom: 1.5rem;
                    input[type=text]{
                        display: block;
                        width: 100%;
                        padding: 6px 12px;
                        line-height: 1.42857;
                        background-color: #fff;
                        background-image: none;
                        border: 1px solid #c2cad8;
                        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                        background: 0 0;
                        border: 0;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                        -webkit-border-radius: 0;
                        border-radius: 0;
                        color: #fff;
                        box-shadow: none;
                        padding-left: 0;
                        padding-right: 0;
                        font-size: 14px;
                    }
                    input[type=password]{
                        display: block;
                        width: 100%;
                        padding: 6px 12px;
                        line-height: 1.42857;
                        background-color: #fff;
                        background-image: none;
                        border: 1px solid #c2cad8;
                        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                        background: 0 0;
                        border: 0;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                        -webkit-border-radius: 0;
                        border-radius: 0;
                        color: #fff;
                        box-shadow: none;
                        padding-left: 0;
                        padding-right: 0;
                        font-size: 14px; 
                    }
                    input[type=checkbox]{
                        margin: 4px 0 0;
                        box-sizing: border-box;
                        cursor: pointer;
                        line-height: normal;
                    }
                    label {
                        display: inline-block;
                        margin-bottom: 5px;
                        position: relative;
                        top: -2px;
                        font-weight: 700;
                    }
                    .tpl-login-btn {
                        border: 1px solid #b5b5b5;
                        background-color: rgba(0, 0, 0, 0);
                        padding: 10px 16px;
                        font-size: 14px;
                        line-height: 14px;
                        color: #b5b5b5;
                    }
                    .am-btn-block {
                        display: block;
                        width: 100%;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
                .tpl-login-remember-me {
                    color: #B3B3B3;
                    font-size: 14px;
                }
            }
        }
    }
}